In [1]:
####  steps
# - imports csv file into a pandas df
# - clean the table name and remove extra name,symbols,spaces,capital letters
# - clean the column haedears and remove the extra symbols,spaces,capital letters
# - write the create table sql staetement
# - imports the data into the db

In [2]:
import os
import numpy as np
import pandas as pd
import psycopg2 
# used to connect to postgres datbase as our  data base is a postgres database

In [3]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is CEBB-78D3

 Directory of C:\Users\Arpit Akar

11-04-2023  14:59    <DIR>          .
11-04-2023  14:59    <DIR>          ..
10-03-2023  17:30    <DIR>          .astropy
10-03-2023  15:01    <DIR>          .conda
26-01-2023  09:14    <DIR>          .continuum
01-04-2023  21:48    <DIR>          .ipynb_checkpoints
26-01-2023  09:15    <DIR>          .ipython
27-01-2023  21:45    <DIR>          .jupyter
26-01-2023  09:15    <DIR>          .matplotlib
15-03-2023  17:57                56 .scala_history
29-03-2023  22:58    <DIR>          .spyder-py3
21-01-2023  07:39    <DIR>          3D Objects
29-03-2023  22:51               453 client.py
11-04-2023  14:21            24,475 client_compueter.ipynb
21-01-2023  07:39    <DIR>          Contacts
12-03-2023  00:07            90,448 COREY_vro.ipynb
30-11-2020  00:34             3,243 csv_import_functions.py
11-04-2023  13:52               436 customer_contracts.csv
11-04-2023  14:03    <DIR>          datasets
11-04-2023  08:58    <DIR>          Desktop
27-03-2023  19:53    <DIR>          Documents
11-04-2023  16:54    <DIR>          Downloads
21-01-2023  07:39    <DIR>          Favorites
26-01-2023  14:23            17,821 fisherdata.ipynb
23-03-2023  20:19            58,703 Hypothesis testing.ipynb
31-01-2023  12:51    <DIR>          Jedi
21-01-2023  07:39    <DIR>          Links
30-03-2023  12:31             2,204 main.ipynb
25-01-2023  03:32    <DIR>          Microsoft
21-01-2023  07:39    <DIR>          Music
11-04-2023  17:55    <DIR>          OneDrive
22-03-2023  19:09    <DIR>          Pictures
30-03-2023  12:31             1,792 README.md
01-04-2023  23:36           516,616 regression.ipynb
21-01-2023  07:39    <DIR>          Saved Games
21-01-2023  07:40    <DIR>          Searches
29-03-2023  22:51               930 server.py
12-03-2023  22:57            31,418 ultratechnse.ipynb
25-01-2023  21:53    <DIR>          Videos
              13 File(s)        748,595 bytes
              26 Dir(s)  164,102,111,232 bytes free

In [4]:
df=pd.read_csv('E://stratascratch//DataScienceProjects//csv_to_db_automation-main//Customer Contracts$.csv')

In [5]:
df.head()

  customer_name  start_date    end_date  contract_amount_m invoice_sent paid
0          Nike  01-02-2019  12-20-2020               2.98          Yes  Yes
1        Reebox  06-20-2017         NaN               3.90           No   No
2        Adidas  12-07-2015   6-20-2018               4.82          Yes  Yes
3        Google  05-25-2014  03-20-2017               5.74          Yes   No
4        Amazon  11-10-2012  12-20-2015               6.66           No  Yes

In [6]:
file  = 'Customer Contracts$'
clean_tbl_name=file.lower().replace(' ','_').replace('$','').replace(r'/','')\
                    .replace('%','')
clean_tbl_name

'customer_contracts'

In [7]:
df.columns

Index(['customer_name', 'start_date', 'end_date', 'contract_amount_m',
       'invoice_sent', 'paid'],
      dtype='object')

In [8]:
df.columns=[x.lower().replace(' ','_').replace('$','').replace('/','')\
                    .replace('%','').replace(r"(","") for x in df.columns ]
df.columns

Index(['customer_name', 'start_date', 'end_date', 'contract_amount_m',
       'invoice_sent', 'paid'],
      dtype='object')

In [9]:
create table customer_contracts 
(
    customer_name    varchar,
    start_date       varchar,
    end_date         varchar,
    contract_amount_m float,
    invoice_sent     varchar,
    paid             varchar
);

SyntaxError: invalid syntax (3993961063.py, line 1)

In [9]:
df.dtypes

customer_name         object
start_date            object
end_date              object
contract_amount_m    float64
invoice_sent          object
paid                  object
dtype: object

In [10]:
replacements={
    'object':'varchar',
    'float64':'float',
    'int64':'int',
    'datetime64':'timestamp',
    'timedelta4[ns]':'varchar'
}
replacements

{'object': 'varchar',
 'float64': 'float',
 'int64': 'int',
 'datetime64': 'timestamp',
 'timedelta4[ns]': 'varchar'}

In [11]:
col_str=", ".join("{} {}".format(n,d) for (n,d) in zip(df.columns,df.dtypes.replace(replacements)))
# zipping that up because we want column name right next to data type name

In [12]:
col_str

'customer_name varchar, start_date varchar, end_date varchar, contract_amount_m float, invoice_sent varchar, paid varchar'

In [ ]:
#open a databse conncetion
conn_string="host= dabaseurl \   #adress to the database
             dbname = 'natedb' \ #db name
             user='nate' password= ' #db_password
conn= psycopg2.connect(conn_string)
cursor = conn.cursor()
print('opened databse successfully')

In [ ]:
#drop table with same name
cursor.execute('drop table if exists customer_contracts')

In [ ]:
#create table
 cursor.execute("create table customer_contracts \
 (customer_name varchar, start_date varchar, end_date varchar, contract_amount_m float,\
 invoice_sent varchar, paid varchar)")

In [13]:
#insert value to table


#save df to csv
df.to_csv('customer_contracts.csv',header=df.columns,index=False,encoding=('utf-8'))
# headers are df.columns and we don't want indexes from pandas df to csv file encoding 
#ENCODING during import from exvel there ma be strange symbols that we say that csv file we have have encoding utf-8

In [14]:
#open the csv file
my_file=open('customer_contracts.csv')
print('file opened in memory')

file opened in memory

In [15]:
#upload to db
SQL_STATEMENT= """
copy= customer_contracts from STDIN WITH 
        CSV
        HEADER
        DELIMITER AS ','
"""

In [16]:
cursor.copy_expert(sql=SQL_STATEMENT,file=my_file)
print('file opened to db')

NameError: name 'cursor' is not defined

In [ ]:
cursor.execute('grant select on table customer_contracts to public')
conn.commit()

conn.close()
print('table customer_contarcts imported to sb completed')

In [17]:
dir

In [18]:
os.listdir(os.getcwd())

['.astropy',
 '.conda',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.scala_history',
 '.spyder-py3',
 '3D Objects',
 'AppData',
 'Application Data',
 'client.py',
 'client_compueter.ipynb',
 'Contacts',
 'Cookies',
 'COREY_vro.ipynb',
 'csv_import_functions.py',
 'customer_contracts.csv',
 'datasets',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'fisherdata.ipynb',
 'Hypothesis testing.ipynb',
 'IntelGraphicsProfiles',
 'Jedi',
 'Links',
 'Local Settings',
 'main.ipynb',
 'Microsoft',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{141caef6-3708-11ed-b404-080027ec4824}.TM.blf',
 'NTUSER.DAT{141caef6-3708-11ed-b404-080027ec4824}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{141caef6-3708-11ed-b404-080027ec4824}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'README.md',
 'Recent',
 'regression.ipynb',
 'Saved Games',
 'Searches',
 'SendTo',
 'server.py',
 'Start Menu',
 'Templates',
 'ultratechnse.ipynb',
 'Videos']

In [19]:
# find csv files in my current working directory
#isolated only csv files
csv_files=[]
for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        csv_files.append(file)

In [20]:
csv_files

['customer_contracts.csv']

In [21]:
#make a new directory
dataset_dir= 'datasets'
#create the bash command to amke a new directory
#mkdir dataset_dir
mkdir ='mkdir {0}'.format(dataset_dir)
#{0} place holder value

In [22]:
mkdir

'mkdir datasets'

In [23]:
# error handaling here because sometime there a folder exist and sometime we need error/
#handaling to this so bypass the error itself
try:
    mkdir ='mkdir {0}'.format(dataset_dir)
    os.system(mkdir)
except:
    pass

In [24]:
#move the csv files to a new directory
#mv filename directory
for csv in csv_files:
    mv_file='mv {0} {1}'.format(csv,dataset_dir)
    os.system(mv_file)
    print(mv_file)

mv customer_contracts.csv datasets

In [25]:
# here files have sapce in there name might be readed as two files\
# add single quote around the file name here and doublequoteover function
#move the csv files to a new directory
#mv filename directory
for csv in csv_files:
    mv_file="mv '{0}' {1}".format(csv,dataset_dir)
    os.system(mv_file)
    print(mv_file)

mv 'customer_contracts.csv' datasets

In [26]:
data_path = os.getcwd()+'/'+dataset_dir+'/'
df={}
for file in csv_files:
    df[file]=pd.read_csv(data_path+file)
    print(file)

customer_contracts.csv

In [32]:
for k in csv_files:
    data_frame=df[k]
    clean_tbl_name=k.lower().replace(' ','_').replace('$','').replace(r'/','')\
                        .replace('%','')
    print(clean_tbl_name)
    tbl_name = '{0}'.format(clean_tbl_name.split('.')[0])
    # {0} inputing from format split on dot csv and take left part byindexing it to zero
    print(tbl_name)
    data_frame.columns=[x.lower().replace(' ','_').replace('$','').replace('/','')\
                    .replace('%','').replace(r"(","") for x in data_frame.columns ]
    print(data_frame.columns)
    replacements={
    'object':'varchar',
    'float64':'float',
    'int64':'int',
    'datetime64':'timestamp',
    'timedelta4[ns]':'varchar'
    }
    #table schema
    col_str=", ".join("{} {}".format(n,d) for (n,d) in zip(data_frame.columns,data_frame.dtypes.replace(replacements)))
    print(col_str)
    #open a databse conncetion
    host='http://localhost:8888/notebooks/client_compueter.ipynb'
    dbname= 'natedb'
    user= 'nate'
    password='XXXX'
    conn_string="host=%s \   #adress to the database
                 dbname = %s \ #db name
                 user=%s password=%s "%(host,dbname,user,password) #db_password
    conn= psycopg2.connect(conn_string)
    cursor = conn.cursor()
    print('opened databse successfully') 
    #create table
     cursor.execute("create table %s (%s)" %(tbl_name,col_str))
    conn.commit()
    conn.close()
    #insert value to table


    #save df to csv
    df.to_csv('customer_contracts.csv',header=df.columns,index=False,encoding=('utf-8'))
    # headers are df.columns and we don't want indexes from pandas df to csv file encoding 
    #ENCODING during import from exvel there ma be strange symbols that we say that csv file we have have encoding utf-8
    #open the csv file
    my_file=open[k]
    print('file opened in memory')
    #upload to db
    SQL_STATEMENT= """
    copy= %s from STDIN WITH 
            CSV
            HEADER
            DELIMITER AS ','
    """
    cursor.copy_expert(sql=SQL_STATEMENT,% tbl_name,file=my_file)
    print('file copied to db')
    cursor.execute('grant select on table %s to public' % tbl_name)
    conn.commit()

    conn.close()
    print('table {0} imported to sb completed'.format(tbl_name))

SyntaxError: EOL while scanning string literal (2670993989.py, line 27)

In [ ]:
#open a databse conncetion
host='http://localhost:8888/notebooks/client_compueter.ipynb'
dbname= 'natedb'
user= 'nate'
password='XXXX'
conn_string="host=%s \   #adress to the database
             dbname = %s \ #db name
             user=%s password=%s "%(host,dbname,user,password) #db_password
conn= psycopg2.connect(conn_string)
cursor = conn.cursor()
print('opened databse successfully')

In [ ]:
#create table
 cursor.execute("create table %s (%s)" %(tbl_name,col_str))